include README.rst
include CHANGES.rst
include pyproject.toml
include conftest.py

recursive-include docs *
recursive-include licenses *

prune notebook_sandbox
prune build
prune docs/_build
prune docs/api
