name: Release

on:
  pull_request:
  push:
    tags:
      - '*'

jobs:
  publish:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@9f1f43251dde69da8613ea8e11144f05cdea41d5  # v1.15.0
    # NOTE: Uncomment "if" if you do not want this to run for every PR.
    # if: ((github.event_name == 'push' && startsWith(github.ref, 'refs/tags')) || contains(github.event.pull_request.labels.*.name, 'Build wheels'))
    with:
      test_extras: test
      test_command: pytest $GITHUB_WORKSPACE/specreduce/tests
    secrets:
      pypi_token: ${{ secrets.PYPI_API_TOKEN }}
