# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: Python Tests

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  schedule:
    # run every Monday at 6am UTC
    - cron: '0 6 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1f43251dde69da8613ea8e11144f05cdea41d5  # v1.15.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV }}
    with:
      submodules: false
      coverage: ''
      envs: |
        - name: Codestyle
          linux: codestyle

        - name: Python 3.10 on Linux with oldest supported dependencies
          linux: py310-test-oldestdeps
          toxargs: -v

        - name: Python 3.10 on Windows with minimal dependencies
          windows: py310-test
          toxargs: -v

        - name: Python 3.10 on OSX with minimal dependencies
          macos: py310-test
          toxargs: -v

        - name: Python 3.11 on Linux with all dependencies, remote data, and coverage
          linux: py311-test-alldeps-cov
          coverage: codecov
          toxargs: -v
          posargs: --remote-data=any

        - name: (Allowed Failure) Python 3.12 on Linux with dev dependencies
          linux: py312-test-devdeps
          toxargs: -v
