# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: Python Tests

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  schedule:
    # run every Monday at 6am UTC
    - cron: '0 6 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@8c0fde6f7e926df6ed7057255d29afa9c1ad5320  # v1.16.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV }}
    with:
      submodules: false
      coverage: ''
      envs: |
        - name: Codestyle
          linux: codestyle

        - name: Python 3.11 on Windows with oldest supported dependencies
          windows: py311-test-oldestdeps
          toxargs: -v

        - name: Python 3.11 on OSX with minimal dependencies
          macos: py311-test
          toxargs: -v
        
        - name: Python 3.12 on Linux with minimal dependencies
          linux: py312-test
          toxargs: -v

        - name: Python 3.13 on Linux with all dependencies, remote data, and coverage
          linux: py313-test-alldeps-cov
          coverage: codecov
          toxargs: -v
          posargs: --remote-data=any

        - name: (Allowed Failure) Python 3.13 on Linux with dev dependencies
          linux: py313-test-devdeps-cov
          coverage: codecov
          toxargs: -v
